<section class="cases">
  <div class="cases__container container">
    <div class="cases__box">
      <div class="cases-header">
        <h1 class="cases__head">
          <span class="cases__head-text">Popular cases</span>
        </h1>
        <p class="cases-subheading">
          The most relevant cases for January
        </p>
      </div>
      <ul class="cases-grid">
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-1@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-2@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-3@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-4@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-5@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-6@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-1@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-2@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-3@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-4@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-5@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-6@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="cases__box">
      <div class="cases-header">
        <h1 class="cases__head">
          <span class="cases__head-text">Original cases</span>
        </h1>
        <p class="cases-subheading">
          The most relevant cases for January
        </p>
      </div>
      <ul class="cases-grid">
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-1@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-2@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-3@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-4@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-5@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-6@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-1@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-2@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-3@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-4@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-5@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
        <li class="cases-grid__item">
          <a href="#" class="cases-grid__image-container">
            <img src="../img/cases/case-image-6@4x.webp" alt="case-image">
          </a>
          <div class="cases-grid__item-content">
            <div class="cases-grid__item-name">
              Darpen Salution
            </div>
            <a href="#" class="cases-grid__item-link">
                <span class="cases-grid__link-price">$390</span><span class="cases-grid__link-open">Open</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
