<section class="discount">
  <div class="discount-container container">
    <div class="discount-inner">
      <div class="discount-header">
        <div class="battlepass-header discount-heading">
          <h3 class="battlepass-title discount-title">
            start getting cool prizes now!
          </h3>
          <span class="battlepass-subheading discount-subheading">
            activate the pass with a <span class="discount-subheading__highlighted">20% discount</span>
          </span>
        </div>
        <p class="battlepass-description">
          The discount on the combat pass is <span class="battlepass-description__highlighted">limited</span> and valid for only 5 days
        </p>
      </div>
      <a href="#" class="discount-button">
        <p>
          buy for $900 <span>(-20%)</span>
        </p>
      </a>
    </div>
  </div>
</section>
