<section class="giveaway">
  <div class="giveaway-container container">
    <div class="giveaway-inner">
      <div class="giveaway-row">
        <div class="giveaway-col">
          <div class="giveaway-header">
            <div class="giveaway-icon">
              <img src="../img/main/knifeIcon.webp" alt="image">
            </div>
            <div class="giveaway-info">
              <span class="giveaway-info__title">
                Distribution of skins
              </span>
              <div class="giveaway-info__subheading">
                We conduct regular skin giveaways for our
              </div>
            </div>
          </div>
          <a class="giveaway-link">
            List of winners
          </a>
        </div>
        <ul class="giveaway-grid">
          <li class="giveaway-item giveaway-item--orange">
            <div class="giveaway-image">
              <img src="../img/drop-images/knife-image.webp" alt="itemImage">
            </div>
            <div class="giveaway-item__header">
              <span class="giveaway-date">
                daily
              </span>
              <div class="giveaway-type">
                distribution
              </div>
            </div>
            <p class="giveaway-name">
              Bowie Knife | <span class="giveaway-name_type">Gloss Black</span>
            </p>
            <div class="giveaway-timer">
              <div class="giveaway-icon">
                <svg width='18px' height='18px'>
                  <use href='img/sprite/sprite.svg#timerIcon'></use>
                </svg>
              </div>
              <span class="giveaway-timer__remaining">
                18:00:00
              </span>
            </div>
          </li>
          <li class="giveaway-item giveaway-item--red">
            <div class="giveaway-image">
              <img src="../img/drop-images/knife-image.webp" alt="itemImage">
            </div>
            <div class="giveaway-item__header">
              <span class="giveaway-date">
                daily
              </span>
              <div class="giveaway-type">
                distribution
              </div>
            </div>
            <p class="giveaway-name">
              Bowie Knife | <span class="giveaway-name_type">Gloss Black</span>
            </p>
            <div class="giveaway-timer">
              <div class="giveaway-icon">
                <svg width='18px' height='18px'>
                  <use href='img/sprite/sprite.svg#timerIcon'></use>
                </svg>
              </div>
              <span class="giveaway-timer__remaining">
                18:00:00
              </span>
            </div>
          </li>
          <li class="giveaway-item giveaway-item--ppl">
            <div class="giveaway-image">
              <img src="../img/drop-images/knife-image.webp" alt="itemImage">
            </div>
            <div class="giveaway-item__header">
              <span class="giveaway-date">
                daily
              </span>
              <div class="giveaway-type">
                distribution
              </div>
            </div>
            <p class="giveaway-name">
              Bowie Knife | <span class="giveaway-name_type">Gloss Black</span>
            </p>
            <div class="giveaway-timer">
              <div class="giveaway-icon">
                <svg width='18px' height='18px'>
                  <use href='img/sprite/sprite.svg#timerIcon'></use>
                </svg>
              </div>
              <span class="giveaway-timer__remaining">
                18:00:00
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
