<section class="prizes">
  <div class="prizes-container container">
    <div class="prizes-inner">
      <div class="prizes-header">
        <h2 class="battlepass-title">
          get cool devices and skins
        </h2>
        <span class="battlepass-subheading">
          just by opening the cases
        </span>
        <p class="battlepass-description">
          To start getting skins, you need to activate or buy a combat pass,
          <span class="battlepass-description__highlighted">
            and voila!
          </span>
        </p>
      </div>
      <div class="prizes-content">
        <ul class="prizes-grid">
          <li class="prizes-item">
            <div class="prizes-item__header">
              <span class="prizes-item__title">
                buy a combat pass
              </span>
              <p class="descr prizes-item__description">
                Upgrade it by gaining experience by opening chests and upgrade
              </p>
            </div>
            <div class="prizes-item__image">
              <img src="../img/prizes/prizesColImage1.webp" alt="image">
            </div>
          </li>
          <li class="prizes-item">
            <div class="prizes-item__header">
              <span class="prizes-item__title">
                Get pumped up
              </span>
              <p class="descr prizes-item__description">
                Get levels for selling skins and creating upgrades
              </p>
            </div>
            <div class="prizes-item__image">
              <img src="../img/prizes/prizesColImage2.webp" alt="image">
            </div>
          </li>
          <li class="prizes-item">
            <div class="prizes-item__header">
              <span class="prizes-item__title">
                Get prizes!
              </span>
              <p class="descr prizes-item__description">
                For each level of the BP you will receive a cool prize!
              </p>
            </div>
            <div class="prizes-item__image">
              <img src="../img/prizes/prizesColImage3.webp" alt="image">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
