<section class="progress">
  <div class="progress-container container">
    <div class="progress-header">
      <div class="progress-header__image">
        <img src="../img/battlepass/summerPass.webp" alt="image">
      </div>
      <div class="progress-level">
        <img src="../img/medals/grandMasterLabel.webp" alt="levelImage">
      </div>
      <div class="progress-description">
        <div class="progress-description__icon">
          <svg>
            <use href='img/sprite/sprite.svg#chevron-icon'></use>
          </svg>
        </div>
        <p>
          To receive the next prize. <br>
          you need to open <span class="progress-description__hl">28 cases</span> and <span class="progress-description__hl">7 upgrades</span>
        </p>
      </div>
    </div>
    <div class="progress-main">
      <div class="progress-bar">
        <ul class="progress-bar__grid">
          <li class="progress-bar__grid-item" style="color: #ffda5c">
            10
            <span></span>
          </li>
          <li class="progress-bar__grid-item" style="color: #ffda5c">
            20
            <span></span>
          </li>
          <li class="progress-bar__grid-item" style="color: #ffda5c">
            30
            <span></span>
          </li>
          <li class="progress-bar__grid-item" style="color: #ffda5c">
            40
            <span></span>
          </li>
          <li class="progress-bar__grid-item">
            50
            <span></span>
          </li>
          <li class="progress-bar__grid-item">
            60
            <span></span>
          </li>
          <li class="progress-bar__grid-item">
            70
            <span></span>
          </li>
          <li class="progress-bar__grid-item">
            80
            <span></span>
          </li>
        </ul>
        <div class="progress-bar__container">
          <div class="progress-filled"></div>
        </div>
      </div>
      <div class="progress-flex">
        <span class="progress-label">Your level of progress</span>
        <span class="progress-value">
          30 lvl
        </span>
      </div>
    </div>
  </div>
</section>
