<section class="rewards">
  <div class="rewards-container container">
    <div class="rewards-inner">
      <div class="rewards-header">
        <h3 class="battlepass-title rewards-title">
          THE CONTENTS OF THE COMBAT PASS
        </h3>
        <p class="rewards-description">
          Become the first to upgrade your combat pass to the maximum level, and got cool devices!
        </p>
      </div>
      <div class="rewards-content">
        <ul class="rewards-grid">
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/recruitLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">10 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/soldierLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">20 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/fighterLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">30 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/grandMasterLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">40 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/warriorLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">50 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/gladiatorLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">60 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/commanderLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">70 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
          <li class="rewards-item">
            <div class="rewards-label">
              <img src="../img/medals/masterLabel.webp" alt="rewardImage">
            </div>
            <div class="rewards-info">
              <div class="rewards-info__name">
                Logitech G PRO X Gaming
              </div>
              <div class="rewards-info__description">
                Компьютерная гарнитура
              </div>
            </div>
            <div class="rewards-level">
              <span class="rewards-level__value">80 lvl</span>
            </div>
            <div class="rewards-image">
              <img src="../img/drop-images/headphonesImage.webp" alt="image">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
