<section class="slider">
  <div class="slider-pagination">

  </div>
  <div class="slider-container">
    <div class="slider-main swiper">
      <ul class="slider-wrapper swiper-wrapper">
        <li
          class="slider-item swiper-slide"
          style="background-image: url('../img/main/mainSliderImage.webp');"
        >
          <div class="slider-inner container">
            <div class="slider-header">
              <span class="slider-title">
                mg weapon <span class="slider-title__highlighted">bronze event</span>
              </span>
              <p class="slider-description">
                <span class="slider-description__highlighted">the event has</span> started
              </p>
            </div>
            <div class="slider-timer timer">
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">0</div>
                  <div class="timer-number">7</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    day
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">3</div>
                  <div class="timer-number">8</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    HORSE
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">1</div>
                  <div class="timer-number">2</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    min
                  </span>
                </div>
              </div>
            </div>
            <div class="slider-actions">
              <button class="slider-button button">
                <img
                  src="../img/global/sliderButtonIcon.webp"
                  alt="icon"
                >
                <span class="button-text">take part</span>
              </button>
            </div>
          </div>
        </li>
        <li
          class="slider-item swiper-slide"
          style="background-image: url('../img/main/mainSliderImage.webp');"
        >
          <div class="slider-inner container">
            <div class="slider-header">
              <span class="slider-title">
                mg weapon <span class="slider-title__highlighted">bronze event</span>
              </span>
              <p class="slider-description">
                <span class="slider-description__highlighted">the event has</span> started
              </p>
            </div>
            <div class="slider-timer timer">
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">0</div>
                  <div class="timer-number">7</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    day
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">3</div>
                  <div class="timer-number">8</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    HORSE
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">1</div>
                  <div class="timer-number">2</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    min
                  </span>
                </div>
              </div>
            </div>
            <div class="slider-actions">
              <button class="slider-button button">
                <img
                  src="../img/global/sliderButtonIcon.webp"
                  alt="icon"
                >
                <span class="button-text">take part</span>
              </button>
            </div>
          </div>
        </li>
        <li
          class="slider-item swiper-slide"
          style="background-image: url('../img/main/mainSliderImage.webp');"
        >
          <div class="slider-inner container">
            <div class="slider-header">
              <span class="slider-title">
                mg weapon <span class="slider-title__highlighted">bronze event</span>
              </span>
              <p class="slider-description">
                <span class="slider-description__highlighted">the event has</span> started
              </p>
            </div>
            <div class="slider-timer timer">
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">0</div>
                  <div class="timer-number">7</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    day
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">3</div>
                  <div class="timer-number">8</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    HORSE
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">1</div>
                  <div class="timer-number">2</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    min
                  </span>
                </div>
              </div>
            </div>
            <div class="slider-actions">
              <button class="slider-button button">
                <img
                  src="../img/global/sliderButtonIcon.webp"
                  alt="icon"
                >
                <span class="button-text">take part</span>
              </button>
            </div>
          </div>
        </li>
        <li
          class="slider-item swiper-slide"
          style="background-image: url('../img/main/mainSliderImage.webp');"
        >
          <div class="slider-inner container">
            <div class="slider-header">
              <span class="slider-title">
                mg weapon <span class="slider-title__highlighted">bronze event</span>
              </span>
              <p class="slider-description">
                <span class="slider-description__highlighted">the event has</span> started
              </p>
            </div>
            <div class="slider-timer timer">
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">0</div>
                  <div class="timer-number">7</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    day
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">3</div>
                  <div class="timer-number">8</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    HORSE
                  </span>
                </div>
              </div>
              <span class="timer-divider">
                :
              </span>
              <div class="timer-item">
                <div class="timer-header">
                  <div class="timer-number">1</div>
                  <div class="timer-number">2</div>
                </div>
                <div class="timer-footer">
                  <span class="timer-date">
                    min
                  </span>
                </div>
              </div>
            </div>
            <div class="slider-actions">
              <button class="slider-button button">
                <img
                  src="../img/global/sliderButtonIcon.webp"
                  alt="icon"
                >
                <span class="button-text">take part</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
