<section class="stat">
  <div class="stat-container container">
    <div class="stat__body">
      <ul class="stat__flex">
        <li class="stat__card">
          <div class="stat__card-icon">
            <svg>
              <use href='img/sprite/sprite.svg#chest-icon'></use>
            </svg>
          </div>
          <div class="stat__card-content">
            <div class="stat__card-value">
              78.015
            </div>
            <div class="stat__card-subinfo">
              Открытых кейсов
            </div>
          </div>
        </li>
        <li class="stat__card" >
          <div class="stat__card-icon">
            <svg>
              <use href='img/sprite/sprite.svg#user-icon'></use>
            </svg>
          </div>
          <div class="stat__card-content">
            <div class="stat__card-value">
              78.015
            </div>
            <div class="stat__card-subinfo">
              Открытых кейсов
            </div>
          </div>
        </li>
        <li class="stat__card">
          <div class="stat__card-icon">
            <svg>
              <use href='img/sprite/sprite.svg#battle-icon'></use>
            </svg>
          </div>
          <div class="stat__card-content">
            <div class="stat__card-value">
              78.015
            </div>
            <div class="stat__card-subinfo">
              Открытых кейсов
            </div>
          </div>
        </li>
        <li class="stat__card">
          <div class="stat__card-icon">
            <img src="" alt="">
          </div>
          <div class="stat__card-content">
            <div class="stat__card-value">
              78.015
            </div>
            <div class="stat__card-subinfo">
              Открытых кейсов
            </div>
          </div>
        </li>
        <li class="stat__card">
          <div class="stat__card-icon">
            <svg>
              <use href='img/sprite/sprite.svg#signals-icon'></use>
            </svg>
          </div>
          <div class="stat__card-content">
            <div class="stat__card-value">
              78.015
            </div>
            <div class="stat__card-subinfo">
              Открытых кейсов
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
