<section class="tops">
  <div class="tops-container container">
    <div class="tops-inner">
      <div class="tops-panel">
        <ul class="tops-tabs">
          <li class="tops-tabs__item">
            <svg>
              <use href='img/sprite/sprite.svg#sword-icon'></use>
            </svg>
            <span class="tops-tabs__text">Top Battles</span>
          </li>
          <li class="tops-tabs__item tops-tabs__item--selected">
            <svg>
              <use href='img/sprite/sprite.svg#chest-icon'></use>
            </svg>
            <span class="tops-tabs__text">Top drops</span>
          </li>
          <li class="tops-tabs__item">
            <svg>
              <use href='img/sprite/sprite.svg#chevron-icon'></use>
            </svg>
            <span class="tops-tabs__text">Top upgrade</span>
          </li>
          <li class="tops-tabs__item">
            <svg>
              <use href='img/sprite/sprite.svg#arrow-up-circle'></use>
            </svg>
            <span class="tops-tabs__text">Top withdraws</span>
          </li>
        </ul>
        <div class="custom-select tops-select">
          <div class="dropholder">
            <div class="dropdown">
              <p class="holder">Hide</p>
              <img
                width="10px"
                height="6px"
                src="../img/sprite/arrow-down.svg"
                alt="arrow"
              >
            </div>
            <ul class="dropdownOption">
              <li>Show1</li>
              <li>Show2</li>
              <li>Show3</li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="tops-grid">
        <a href="#" class="tops-item">
          <div class="tops-case">
            <div class="tops-case__image">
              <img src="../img/cases/case-image-4@4x.webp" alt="caseImage">
            </div>
            <div class="tops-case__info">
              <span class="tops-case__heading">Cost</span>
              <span class="tops-case__price">$2.980</span>
            </div>
          </div>
          <div class="tops-drop">
            <div class="tops-drop__icon">
              <img src="../img/global/user-icon@3x.webp" alt="userIcon">
            </div>
            <div class="tops-drop__image">
              <img src="../img/drop-images/knife-image.webp" alt="itemImage">
            </div>
            <div class="tops-drop__footer">
              <div class="tops-drop__info">
                <div class="tops-drop__col">
                  <span class="tops-drop__hl">ft</span>
                  <span class="tops-drop__name">M9 Bayonet</span>
                  <span class="tops-drop__type">Fade</span>
                </div>
                <div class="tops-drop__col">
                  <span class="tops-drop__winrate">Win</span>
                  <span class="tops-drop__price">$10.370</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="tops-item">
          <div class="tops-case">
            <div class="tops-case__image">
              <img src="../img/cases/case-image-4@4x.webp" alt="caseImage">
            </div>
            <div class="tops-case__info">
              <span class="tops-case__heading">Cost</span>
              <span class="tops-case__price">$2.980</span>
            </div>
          </div>
          <div class="tops-drop">
            <div class="tops-drop__icon">
              <img src="../img/global/user-icon@3x.webp" alt="userIcon">
            </div>
            <div class="tops-drop__image">
              <img src="../img/drop-images/knife-image.webp" alt="itemImage">
            </div>
            <div class="tops-drop__footer">
              <div class="tops-drop__info">
                <div class="tops-drop__col">
                  <span class="tops-drop__hl">ft</span>
                  <span class="tops-drop__name">M9 Bayonet</span>
                  <span class="tops-drop__type">Fade</span>
                </div>
                <div class="tops-drop__col">
                  <span class="tops-drop__winrate">Win</span>
                  <span class="tops-drop__price">$10.370</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="tops-item">
          <div class="tops-case">
            <div class="tops-case__image">
              <img src="../img/cases/case-image-4@4x.webp" alt="caseImage">
            </div>
            <div class="tops-case__info">
              <span class="tops-case__heading">Cost</span>
              <span class="tops-case__price">$2.980</span>
            </div>
          </div>
          <div class="tops-drop">
            <div class="tops-drop__icon">
              <img src="../img/global/user-icon@3x.webp" alt="userIcon">
            </div>
            <div class="tops-drop__image">
              <img src="../img/drop-images/knife-image.webp" alt="itemImage">
            </div>
            <div class="tops-drop__footer">
              <div class="tops-drop__info">
                <div class="tops-drop__col">
                  <span class="tops-drop__hl">ft</span>
                  <span class="tops-drop__name">M9 Bayonet</span>
                  <span class="tops-drop__type">Fade</span>
                </div>
                <div class="tops-drop__col">
                  <span class="tops-drop__winrate">Win</span>
                  <span class="tops-drop__price">$10.370</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="tops-item">
          <div class="tops-case">
            <div class="tops-case__image">
              <img src="../img/cases/case-image-4@4x.webp" alt="caseImage">
            </div>
            <div class="tops-case__info">
              <span class="tops-case__heading">Cost</span>
              <span class="tops-case__price">$2.980</span>
            </div>
          </div>
          <div class="tops-drop">
            <div class="tops-drop__icon">
              <img src="../img/global/user-icon@3x.webp" alt="userIcon">
            </div>
            <div class="tops-drop__image">
              <img src="../img/drop-images/knife-image.webp" alt="itemImage">
            </div>
            <div class="tops-drop__footer">
              <div class="tops-drop__info">
                <div class="tops-drop__col">
                  <span class="tops-drop__hl">ft</span>
                  <span class="tops-drop__name">M9 Bayonet</span>
                  <span class="tops-drop__type">Fade</span>
                </div>
                <div class="tops-drop__col">
                  <span class="tops-drop__winrate">Win</span>
                  <span class="tops-drop__price">$10.370</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </ul>
    </div>
  </div>
</section>
