<header class="header">
  <div class="header__container navbar-container">
    <div class="header-body">
      <div class="header-body__floor header-body__floor--grid">
        <a href="/" class="header-body__logo">
          <img class="header-body__logo_desktop" src="../img/footer/footer-logo@3x.png" alt="logo-image">
          <img class="header-body__logo_mob" src="../img/fav/fav.webp" alt="logo">
        </a>
        <nav class="menu">
          <ul class="menu__flex">
            <li class="menu__item">
              <a href="open.html" class="menu__link">
                <div class="menu__icon">
                  <svg>
                    <use href='img/sprite/sprite.svg#chest-icon-2'></use>
                  </svg>
                </div>
                <span class="menu__link-text">cases</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="battle.html" class="menu__link menu__link--selected">
                <div class="menu__icon">
                  <svg>
                    <use href='img/sprite/sprite.svg#sword-icon'></use>
                  </svg>
                </div>
                <span class="menu__link-text">case battle</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="upgrade.html" class="menu__link">
                <div class="menu__icon">
                <svg>
                  <use href='img/sprite/sprite.svg#chevron-icon'></use>
                </svg>
                </div>
                <span class="menu__link-text">upgrade</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="battlepass.html" class="menu__link">
                <div class="menu__icon">
                  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                  <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                  <svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">

                      <defs>
                  </defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd" sketch:type="MSPage">
                          <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-360.000000, -1087.000000)" fill="">
                            <path d="M376,1117 C368.268,1117 362,1110.73 362,1103 C362,1095.27 368.268,1089 376,1089 C383.732,1089 390,1095.27 390,1103 C390,1110.73 383.732,1117 376,1117 L376,1117 Z M376,1087 C367.163,1087 360,1094.16 360,1103 C360,1111.84 367.163,1119 376,1119 C384.837,1119 392,1111.84 392,1103 C392,1094.16 384.837,1087 376,1087 L376,1087 Z M376.879,1096.46 C376.639,1096.22 376.311,1096.15 376,1096.21 C375.689,1096.15 375.361,1096.22 375.121,1096.46 L369.465,1102.12 C369.074,1102.51 369.074,1103.14 369.465,1103.54 C369.854,1103.93 370.488,1103.93 370.879,1103.54 L375,1099.41 L375,1110 C375,1110.55 375.447,1111 376,1111 C376.553,1111 377,1110.55 377,1110 L377,1099.41 L381.121,1103.54 C381.512,1103.93 382.145,1103.93 382.535,1103.54 C382.926,1103.14 382.926,1102.51 382.535,1102.12 L376.879,1096.46 L376.879,1096.46 Z" id="arrow-up-circle" sketch:type="MSShapeGroup">
                            </path>
                          </g>
                      </g>
                  </svg>
                </div>
                <span class="menu__link-text">battlepass</span>
              </a>
            </li>
            <button class="menu-burger">
              <div class="menu-burger__icon">
                <span class="menu-burger__icon-bar"></span>
                <span class="menu-burger__icon-bar"></span>
              </div>
              <span class="menu-burger__text menu__link-text">menu</span>
            </button>
          </ul>
        </nav>
        <button class="header-steam">
          <img src="../img/icons/steam-icon@3x.png" alt="steam">
          <span class="header-steam__text">
            log in with steam
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
