<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-flex">
      <div class="navbar-col navbar-col--flex">
        <div class="navbar-stat stat">
          <div class="stat-icon"></div>
          <div class="stat-info">
            <span class="stat-players">1.780</span>
            <span class="stat-highlighted">Online</span>
          </div>
        </div>
        <ul class="navbar-links">
          <li class="navbar-links__item">
            <a href="#" class="navbar-links__link">
              Bonuses
            </a>
          </li>
          <li class="navbar-links__item">
            <a href="#" class="navbar-links__link">
              Leaderboard
            </a>
          </li>
          <li class="navbar-links__item">
            <a href="#" class="navbar-links__link">
              FAQ
            </a>
          </li>
          <li class="navbar-links__item">
            <a href="#" class="navbar-links__link">
              Support
            </a>
          </li>
          <li class="navbar-links__item">
            <a href="#" class="navbar-links__link">
              Probably fair
            </a>
          </li>
        </ul>
      </div>
      <div class="navbar-col">
        <ul class="navbar-socials">
          <a href="#" class="navbar-socials__item">
            <svg>
              <use href='img/sprite/sprite.svg#twitter'></use>
            </svg>
          </a>
          <a href="#" class="navbar-socials__item">
            <svg>
              <use href='img/sprite/sprite.svg#discord'></use>
            </svg>
          </a>
          <a href="#" class="navbar-socials__item">
            <svg>
              <use href='img/sprite/sprite.svg#tg'></use>
            </svg>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
