.battle {
  --box-p: clamp(20px, 1.625vw, 26px);
  --item-h: 134px;
  --order-w: 128px;
  --case-image-ratio: clamp(60px, 5vw, 80px);
  --bg-prize: #1e1823;

  &-stats {
    font-family: var(--ff-g);
    &__item {
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }
    &__value {
      background-color: #1b1919;
      border-radius: 4px;
      min-height: 32px;
      padding: 0 0.875rem;
      @include dfc;
      text-align: center;
      font-weight: 800;
    }
    &__descr {
      font-size: var(--t-sm);
      font-weight: 500;
      color: #9b8885;
    }
  }
  &-box {
    padding: 2rem;
    &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
    }
    &__col {
      height: 100%;
      @include dfc;
      background-color: #232121;
    }
    &__item {
      display: grid;
      grid-template-columns: var(--order-w) 1fr 290px 320px;
      min-height: var(--item-h);
      justify-content: center;
      align-items: center;
      overflow: hidden;

      background-color: #1f1d1d;
      border-radius: 8px;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &__order {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 10px;
      font-family: var(--ff-g);
      &-shape {
        --ratio: 60px;

        @include dfc;
        width: var(--ratio);
        height: var(--ratio);

        position: relative;

        text-transform: uppercase;
        font-size: var(--t-lg);
        font-weight: 800;
        color: rgba(var(--clr-w), 1);

        background-size: 100% 100%;
        background-image: url('../../img/fight-page/orderBackground.webp');
      }
      &-value {
        font-size: var(--t-xs);
        font-weight: 700;
        color: #c6b8b6;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 1.5rem;
      & > * {
        min-height: 44px;
        @include dfc;
        text-align: center;
        grid-gap: 12px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 6px;

        width: fit-content;

        padding: 0 1.25rem;
        svg {
          fill: #ed6741;
        }
      }
    }
    &__join {
      border: 1px solid #ed6741;
      background-color: #2b1f1d;
    }
    &__view {
      background-color: #312c2c;
    }
  }
  &-cases {
    display: flex;
    align-items: center;
    align-items: center;
    grid-gap: 1.75rem;

    max-width: 340px;
    overflow-x: auto;

    &__item {
      position: relative;
    }
    &__total {
      display: flex;
      flex-direction: column;
      background-color: #1c1a1a;
      padding: 20px;
      border-radius: 6px;
      text-align: center;
      align-items: center;
      font-weight: 500;

      &-price {
        font-size: 1.125rem;
        color: #f5c534;
      }
    }
    &__multiplier {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 8px;
      min-height: 24px;
      background-color: #35302e;
      border-radius: 6px;
      text-align: center;

      &-value {
        font-size: var(--t-sm);
        color: #c6b8b6;
        font-weight: 700;
        font-family: var(--ff-g);
        line-height: 100%;
      }
    }

    &__image-container {
      width: var(--case-image-ratio);
      height: var(--case-image-ratio);

      margin: 0 auto;

      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.slots {
  --root-p: 0 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
  min-height: 100px;
  &-numbers {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
  &-icon {
    max-width: 26px;
  }
  &-flex {
   display: flex;
   align-items: center;
   grid-gap: 1.5rem;
  }
  &-item {
    min-width: 44px !important;
    width: fit-content;
    padding: 0 10px;
    min-height: 44px;
    border-radius: 6px;

    background: #232020;

    @include dfc;

    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 1px solid transparent;
    &--selected {
      border-top: 1px solid #fbc464;
      background: linear-gradient((#d07958, #884639));
    }
  }
}

@include laptop {
  .slots {
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    grid-gap: 1rem;
  }
  .battle {
    --box-item-gap: 1.5rem;

    &-area {
      &-order {grid-area: order;}
      &-users {grid-area: users;}
      &-cases {grid-area: cases;}
      &-actions {grid-area: actions;}
    }
    &-box {
      &__users {
        width: 100%;
      }
      &__actions {
        & > * {
          width: 100%;
        }
      }
      &__main {
        padding: 0;
      }
      &__item {
        padding: 1.25rem 1rem;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2rem 0;
        grid-template-areas:
        'order cases cases cases cases cases'
        'users users users users users users'
        'actions actions actions actions actions actions'
      }
      &__col {
        background-color: transparent;
      }
      &__actions {
        grid-area: actions;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
      }
    }
  }
}

@include small-tablet {
  .slots {
    &-button {
      width: 100%;
    }
  }
  .battle {
    &-box {
      &__col {
        background-color: #232121;
        padding: 12px 0;

        border-radius: 8px;
      }
      &__item {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'order order order order'
        'cases cases cases cases'
        'users users users users'
        'actions actions actions actions'
      }
    }
  }
}
