.heading {
  --mb: 2rem;

  margin-bottom: var(--mb);
  position: relative;

  &-sound {
    fill: rgba(var(--clr-o), 1);
    transition: opacity 300ms ease;
    &--disabled {
      opacity: .4;
    }
  }
  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-gap: 1.75rem;
  }
  &-icon {
    max-width: 1.75rem;
    img {
      width: 100%;
      display: block;
    }
    svg {
      display: block;
      fill: #edbf31;
    }
  }
  &-title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-col {
    display: flex;
    align-items: center;
    grid-gap: 1.25rem;
  }
}

@include laptop {
  .heading {
    &-flex {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

@include small-tablet {
  .heading {
    &-icon {
      img, svg {
        max-width: 20px;
      }
    }
    &-title {
      font-size: 22px;
    }
  }
}
