.input {
  background-color: #1c1a1a;
  min-height: 50px;

  border: 1px solid #312b2b;
  border-radius: 6px;
  outline: none;

  padding: 0 1.5rem;

  font-size: var(--t-sm);
  font-family: var(--ff-g);
  color: rgba(var(--clr-w), 1);
}
