.menu {
  &__flex {
    display: flex;
    align-items: center;
  }
  &__icon {
    svg {
      fill: rgba(var(--clr-dark-3), 1);
      width: 24px;
      height: 24px;

      transition: fill 400ms ease;

      display: block;
    }
  }
  &-burger {
    display: none;
    flex-direction: column;
    align-items: center;
    grid-gap: 8px;

    padding: 10px;

    &__icon {
      width: 24px;
      height: 20px;

      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      grid-gap: 5px;

      position: relative;

      &-bar {
        display: block;
        width: 100%;
        height: 3px;

        transition: all 300ms ease;

        position: absolute;

        border-radius: 4px;

        background-color: rgba(var(--clr-w), 1);

        &:nth-child(1) {
          width: 100%;
          top: 5px;
          right: 0;
        }
        &:nth-child(2) {
          bottom: 5px;
          left: 0;
          width: 100%;
        }
      }
    }
    &--active {
      .menu-burger__icon-bar {
        transform: rotate(var(--rotate));

        &:nth-child(1) {
          top: 8px;
          --rotate: 45deg;
        }
        &:nth-child(2) {
          top: 8px;
          --rotate: -45deg;
        }
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    grid-gap: 0.75rem;

    padding: 0 20px;

    position: relative;

    @include hover {
      &::before {
        opacity: 1;
      }
      &::after {
        width: 100%;
      }
    }

    &::after {
      @include pseudo;
      width: 100%;
      height: 2px;
      background-color: rgba(var(--clr-y), 1);
      bottom: calc(-1 * (var(--header-h) / 2.65));
      left: 0;
      width: 0%;
      pointer-events: none;
      transition: width 500ms ease;
    }
    &::before {
      @include pseudo;
      width: 110%;
      height: 60px;
      background-color: rgba(var(--clr-y), .1);
      filter: blur(12px);
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      bottom: -60px;
      pointer-events: none;
      transition: opacity 500ms ease 100ms;
    }
    &--selected {
      &::before {
        opacity: 1;
      }
      &::after {
        width: 100%;
      }
      .menu__link-text {
        color: rgba(var(--clr-w), 1);
      }
      .menu__icon {
        svg {
          fill: rgba(var(--clr-y), 1);
        }
      }
    }
    @include hover {
      .menu__icon {
        svg {
          fill: rgba(var(--clr-y), 1);
        }
      }
      .menu__link-text {
        color: rgba(var(--clr-w), 1);
      }
    }
    &-text {
      font-family: var(--ff-i);
      font-size: var(--t-base);
      text-transform: uppercase;
      font-weight: 700;

      transition: color 400ms ease;

      color: #9b8885;
    }
  }
}

@include desktop {
  .menu {
    &__link {
      padding: 0 10px;
    }
    &__icon {
      svg {
        width: 18px;
        height: 20px;
      }
    }
    &__link {
      &-text {
        font-size: 15px;
      }
    }
  }
}

@include laptop {
  .menu {
    position: fixed;

    bottom: 0;
    left: 0;

    width: 100%;

    z-index: 4;

    background-color: rgba(var(--clr-b), .15);
    backdrop-filter: blur(6px);
    border-top: 1px solid rgba(var(--clr-y), .5);

    padding: 0;

    &-burger {
      display: flex;

      &:active {
        background-color: rgba(var(--clr-dark-5), .1);
      }
    }
    &__flex {
      display: grid;
      grid-template-columns: repeat(5,1fr);
    }
    &__link {
      flex-direction: column;

      text-align: center;

      padding: 10px 0;
      grid-gap: 8px;
      transition: background-color 300ms ease;

      &:active {
        background-color: rgba(var(--clr-dark-5), .1);
      }
      &--selected {
        .menu__link-text {
          color: rgba(var(--clr-y), 1) !important;
        }
      }
      svg, img {
        display: block;
        fill: rgba(var(--clr-w), .75)
      }

      &-text {
        @include hide-text(1);
        font-size: 9px;

        color: rgba(var(--clr-w), 1);
      }
    }
  }
}

@include small-tablet {
  .menu {
    &__flex {
      justify-content: space-between;
    }
    &__link {
      &-text {
        font-size: 8px;
        font-weight: 600;
      }
    }
  }
}
