.navbar {
  min-height: 74px;
  display: flex;
  align-items: center;
  position: relative;
  &-container {
    padding: 0 1rem;
    max-width: calc(1840px + 2rem);
    margin: 0 auto;
    width: 100%;
  }
  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-col {
    &--flex {
      display: flex;
      align-items: center;
      grid-gap: 2rem;
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    &__item {
      @include dfc;
      width: 2rem;
      height: 2rem;
      transition: background-color 300ms ease;
      border-radius: 50%;
      @include hover {
        background-color: rgba(var(--clr-w), .05);
      }
      &:active {
        background-color: rgba(var(--clr-w), .05);
      }
      svg {
        width: 1.125rem;
        height: 1.125rem;
        fill: #5a5251;
        transition: fill 300ms ease;
      }
      @include hover {
        svg {
          fill: #3393f5;
        }
      }
    }
  }
  &-links {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    color: #847877;
    font-weight: 500;

    &__link {
      transition: color 300ms ease;
      @include hover {
        color: rgba(var(--clr-y), 1);
      }
      &--selected {color: rgba(var(--clr-y), 1);}
    }
  }
}

.stat {
  &-info {
    display: flex;
    flex-direction: column;
  }
  &-players {
    font-weight: 700;
  }
  &-highlighted {
    color: #847877;
    font-weight: 500;
    font-size: var(--t-sm);
  }
}

@include laptop {
  .navbar {
    min-height: 48px;
    &-socials {
      grid-gap: .5rem;
    }
    &-col {
      &--flex {
        grid-gap: 1rem;
      }
    }
    &-container {
      padding: 0 0.75rem;
      max-width: calc(1840px + 1.5rem);
    }
  }
}
