.rewards {
  background-color: #1c1a1a;

  padding: 90px 0 154px 0;

  &-header {
    margin-bottom: 60px;
  }
  &-description {
    text-align: center;
  }
  &-label {
    height: 74px;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &-content {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    grid-gap: 100px 2.5rem ;
  }
  &-item {
    position: relative;

    background-image: linear-gradient(to top, #242121, #1c1a1a);
    border-radius: 2rem 2rem 1rem 1rem;
    min-height: 348px;

    display: flex;
    flex-direction: column;
    grid-gap: 1.125rem;
    align-items: center;
    text-align: center;
  }
  &-info {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    font-weight: 500;
    font-family: var(--ff-g);

    &__description {
      font-size: var(--t-sm);
      color: #9b8885;
    }
    &__name {
      font-size: 15px;
    }
  }
  &-level {
    min-height: 34px;
    @include dfc;
    padding: 0 0.75rem;
    border-radius: 24px;

    background-color: #2b2626;
    &__value {
      text-transform: uppercase;
      font-weight: 700;
      color: #ffcc6e;
    }
  }
  &-image {
    position: absolute;
    max-width: 154px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -64px;

    img {
      object-fit: contain;
      height: 200px;
    }
  }
  &-info {
    padding: 0 1.5rem;
  }
}

@include mobile {
  .rewards {
    &-grid {
      display: flex;
      flex-direction: column;
    }
    &-item {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }
  }
}
