.upgrade {
  --circle-ratio: 256px;
  --inventory-grid-gap: 10px;
  --items-max-height-scroll: calc((var(--item-h) * 2) + (var(--inventory-grid-gap) * 2));

  .panel {
    --item-image-h: 60px;
    &-grid {
      &__item {
        min-height: var(--inv-item-h);
        cursor: pointer;
        background-image: none !important;
        border-bottom: 2px solid #694bd1 !important;
      }
    }
  }

  .profile-inventory {
    &::after {
      display: none;
    }
  }
  &-heading {
    margin-bottom: 80px;
  }
  &-dynamic {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.5rem;
    &__header {
      display: flex;
    }
    &__value {
      font-size: 20px;
      font-weight: 500;
      color: rgba(var(--clr-o), 1);
    }
    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__amount {
      display: flex;
      flex-direction: column;
    }
    &__description {
      color: #9b8885;
      font-size: var(--t-sm);
      font-weight: 600;
    }
    &__footer {
      font-size: var(--t-sm);
      font-weight: 500;
      font-family: var(--ff-g);
      text-align: center;
    }
    &--start {
      .upgrade {
        &-dynamic {
          &__header {
            justify-content: flex-end;
          }
        }
      }
    }
    &--end {
      .upgrade {
        &-dynamic {
          &__header {
            text-align: right;
            justify-content: start;
          }
        }
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    min-height: 460px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 80px auto;
  }
  &-tabs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid #1b1919;
    display: flex;
    align-items: center;
    &__item {
      font-size: 20px;
      font-weight: 800;
      color: #9b8885;
      text-transform: uppercase;
      transition: all 300ms ease;
      padding: 0 1.25rem;
      min-height: 40px;
      @include dfc;
      text-align: center;
      position: relative;
      margin-top: -2px;
      font-family: var(--ff-i);
      &::after {
        @include pseudo;
        width: 200%;
        height: 140px;
        background-image: url('../../img/icons/tabActiveItemGradient.webp');
        background-size: 100% 100%;
        z-index: -1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 300ms ease;
        pointer-events: none;
      }
      &::before {
        @include pseudo;
        width: 100%;
        height: 2px;
        top: 0;
        left: 0;
        background-color: rgba(var(--clr-o), 1);
        pointer-events: none;
        opacity: 0;
        transition: opacity 300ms ease;
      }
      &--active {
        color: rgba(var(--clr-o), 1);
        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-button {
    flex: 1;
  }
  &-box {
    --root-p: 30px 24px;
  }
  &-range {
    height: 2px;
    position: relative;
    min-width: 300px;
    &__bar {
      background-image: url('../../img/range/bg-range-bar.webp');
      background-repeat: repeat-x;

      position: absolute;
      top: 0;
      left: 0;

      width: 1%;
      height: 100%;

      pointer-events: none;

      z-index: 1;
    }
    input[type="range"] {
      appearance: none;

      background-color: #26232c;
      height: 2px;

      position: absolute;

      top: 0px;

      margin: 0;

      &::-webkit-slider-thumb {
        cursor: pointer;
        appearance: none;
        border: 2px solid #558dfe;
        background-color: #26232c;

        width: 8px;
        height: 8px;

        transition: all 300ms ease;

        @include hover {
          box-shadow: 0 0 0px 4px rgba(var(--cl-bl), .5);
        }
        &:active {
          box-shadow: 0 0 0 6px rgba(var(--cl-bl), .5);
        }
      }
    }
  }
  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 430px;
    position: relative;

    margin-bottom: clamp(60px, 6.25vw, 100px);
  }
  &-inv {
    &__title {
      @include dfc;
      grid-gap: 12px;
      font-weight: 600;

      svg {
        fill: rgba(var(--cl-bl), 1);
        display: block;
        width: 20px;
        height: 20px;
      }
      span {
        font-size: var(--t-base);

        text-transform: capitalize;
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: clamp(30px, 3.75vw, 60px);
    }
  }
  &-total {
    bottom: 60px;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

      position: absolute;

      font-weight: 700;
      font-size: var(--t-base);
      text-transform: uppercase;

      &__hl {
        color: rgba(var(--cl-yl), 1);
      }
  }
  &-center {
    @include dfc;
  }
  &-pointer {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-image: linear-gradient(to top, #532218, #fc602c);
    width: 1.25rem;
    height: .75rem;
    position: absolute;
    top: -.75rem;
    left: 50%;
    transform: translateX(-50%);
  }
  &-circle {
    max-width: 260px;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 6px solid #3e2016;
    border-radius: 50%;
    background-color: #2f1c16;
    position: relative;
    filter: drop-shadow(0 0 60px #521f16);
    &__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 2px solid #912a19;
      max-width: 170px;
      aspect-ratio: 1 / 1;
      width: 100%;
      background-image: radial-gradient(#491f17 0%, #351d16 60%);
    }
  }
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
  grid-gap: var(--inventory-grid-gap);
  padding-right: 12px;
  max-height: 348px;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    width: 3px;
    background-color: #171515;

    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ed6741;
  }

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include laptop {
  .upgrade {
    .heading-col {
      width: 100%;
      justify-content: flex-start;
    }
    &-sound {
      position: absolute;
      right: 0;
      top: 0;
    }
    &-tabs {
      position: initial;
      transform: translate(0);
    }
    &-grid {
      display: flex;
      flex-direction: column;
      grid-gap: 3rem;
    }
    &-inv {
      &__grid {
        display: flex;
        flex-direction: column;
        grid-gap: 1.5rem;
      }
    }
    &-dynamic {
      border: 2px dashed #952b19;
      border-radius: 4px;
      width: 100%;
      min-height: 300px;
      padding: 1rem;
      background-image: linear-gradient(
        rgba(73, 31, 23, .7) 0%,
        rgba(45, 28, 22, .2) 100%
      );
      &--end {
        background-image: linear-gradient(
          to top,
          rgba(73, 31, 23, .7) 0%,
          rgba(45, 28, 22, .2) 100%
        );
      }
      &__header {
        text-align: center !important;
        justify-content: center !important;
      }
      &__image {
        max-width: 184px;
      }
    }
  }
}

@include small-tablet {
  .upgrade {
    &-dynamic {
      min-height: 240px;
      &__image {
        max-width: 120px;
      }
    }
    &-box {
      padding: 1rem;
    }
  }
  .inventory {
    &-header {
      margin-bottom: 1.5rem !important;
    }
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
