.upgrade {
  --circle-ratio: 256px;
  --inventory-grid-gap: 10px;
  --items-max-height-scroll: calc((var(--item-h) * 2) + (var(--inventory-grid-gap) * 2));

  .panel {
    --item-image-h: 60px;
    &-grid {
      &__item {
        min-height: var(--inv-item-h);
      }
    }
  }

  .profile-inventory {
    &::after {
      display: none;
    }
  }
  &-button {
    flex: 1;
  }
  &-box {
    --root-p: 30px 24px;
  }
  &-multipliers {
    display: flex;
    align-items: center;
    grid-gap: 12px;

    &__item {
      width: clamp(50px, 3.75vw, 60px);
      height: 45px;

      @include dfc;

      background-color: #27252d;
      text-align: center;
      color: #b0adb8;
      font-size: var(--t-sm);
      font-weight: 800;

      cursor: pointer;

      &--active {
        background-color: #559cfe;

        color: rgba(var(--cl-w), );
      }
    }
  }
  &-header {
    min-height: 130px;

    display: grid;
    grid-template-columns: 1fr .65fr;
    align-items: center;

    margin-bottom: clamp(24px, 3.375vw, 54px);
  }
  &-actions {
    background-color: #242229;

    padding: 26px;

    &__header {
      color: rgba(var(--cl-w), 1);
      font-weight: 600;
      font-size: var(--t-base);
    }
    &__flex {
      display: flex;
      align-items: flex-end;
      grid-gap: clamp(18px, 1.75vw, 28px);
    }
  }
  &-filter {
    height: 100%;
    background-color: #26232c;

    padding: 26px;

    &__input {
      background-color: transparent;

      padding: 0 1.25rem;

      font-size: var(--t-sm);
      font-weight: 600;

      color: rgba(var(--cl-w), 1);

      &::placeholder {
        color: #5a5566;
      }
    }
    &__heading {
      font-weight: 600;
      color: rgba(var(--cl-w), 1);

    }
    &__field {
      background-color: #222026;

      min-height: 45px;

      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 1.25rem;
    }
    &__balance {
      color: rgba(var(--cl-yl), 1);
      font-weight: 800;
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 1rem;
    }
  }
  &-range {
    height: 2px;
    position: relative;
    min-width: 300px;
    &__bar {
      background-image: url('../../img/range/bg-range-bar.webp');
      background-repeat: repeat-x;

      position: absolute;
      top: 0;
      left: 0;

      width: 1%;
      height: 100%;

      pointer-events: none;

      z-index: 1;
    }
    input[type="range"] {
      appearance: none;

      background-color: #26232c;
      height: 2px;

      position: absolute;

      top: 0px;

      margin: 0;

      &::-webkit-slider-thumb {
        cursor: pointer;
        appearance: none;
        border: 2px solid #558dfe;
        background-color: #26232c;

        width: 8px;
        height: 8px;

        transition: all 300ms ease;

        @include hover {
          box-shadow: 0 0 0px 4px rgba(var(--cl-bl), .5);
        }
        &:active {
          box-shadow: 0 0 0 6px rgba(var(--cl-bl), .5);
        }
      }
    }
  }
  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 430px;
    position: relative;

    margin-bottom: clamp(60px, 6.25vw, 100px);
  }
  &-inv {
    &__title {
      @include dfc;
      grid-gap: 12px;
      font-weight: 600;

      svg {
        fill: rgba(var(--cl-bl), 1);
        display: block;
        width: 20px;
        height: 20px;
      }
      span {
        font-size: var(--t-base);

        text-transform: capitalize;
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: clamp(30px, 3.75vw, 60px);
    }
  }
  &-total {
    bottom: 60px;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

      position: absolute;

      font-weight: 700;
      font-size: var(--t-base);
      text-transform: uppercase;

      &__hl {
        color: rgba(var(--cl-yl), 1);
      }
  }
  &-block {
    background-color: rgba(var(--bg-form), 1);

    @include dfc;
    text-align: center;

    position: relative;

    transition: all 300ms ease;

    &::before {
      @include pseudo;

      width: 120px;
      height: 120px;

      background-image: url('../../img/upgrade/upgrade-block-overlay@4x.webp');
      background-size: 100% 100%;
      background-repeat: no-repeat;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__content {
      position: relative;

      display: flex;
      flex-direction: column;
      grid-gap: 6px;
      font-weight: 700;
      font-size: var(--t-sm);
      &-header {
        text-transform: uppercase;
      }
      &-tip {
        color: #aaa7b0;
      }
    }
    &--right {
      grid-column: 3 / 4;
    }
    &__arrow {
      position: absolute;
      pointer-events: none;
      width: 100px;
      height: 60px;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);

      img {
        display: block;
        height: 100%;
      }
    }
  }
  &-center {
    box-shadow: 0 0 111px #1a181d;

    transform: scale(1.1);

    position: relative;
    z-index: 1;
    background-color: #232128;
    @include dfc;
    flex-direction: column;
    text-align: center;

    padding: clamp(12px, 1.25vw, 20px);

    &::before {
      @include pseudo;

      inset: clamp(12px, 1.25vw, 20px);
      background-image: url('../../img/upgrade/center-block-border.webp');
      background-size: 100% 100%;
      pointer-events: none;
    }
    &__circle {
      width: var(--circle-ratio);
      height: var(--circle-ratio);
      @include dfc;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      top: -20px;

      &::after {
        @include pseudo;

        z-index: 2;
        width: 20px;
        height: 10px;

        top: 1rem;

        left: 50%;
        transform: translateX(-50%);

        pointer-events: none;

        background-image: linear-gradient(to top, #262639 0%, #3375cf 100%);

        clip-path: polygon(50% 0, 0 100%, 100% 100%);

      }

      &-content {
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 2;
      }
      &-header {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      &-sub {
        color: #827c92;
        font-size: 16px;
        font-weight: 600;
      }
      &:before {
        @include pseudo;

        width: calc(100% - 8px);
        height: calc(100% - 8px);

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #232128;

        z-index: 2;

        border-radius: inherit;
      }
      &-border {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        background-color: #28283f;
      }
      &-filled {
        background-image: linear-gradient(to top, #28283f 0%, #3376d0 72%, #569eff 100%);

        position: absolute;

        z-index: 1;

        top: 0;
        right: 0;

        width: var(--filled-width);
        height: 100%;

      }
    }
  }
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
  grid-gap: var(--inventory-grid-gap);
  padding-right: 12px;
  max-height: 348px;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    width: 3px;
    background-color: #171515;

    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ed6741;
  }

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }
}


@include laptop {
  .upgrade {
    --circle-ratio: 120px;

    &-inv {
      &__grid {
        grid-gap: 1rem;
      }
    }
    &-header {
      display: flex;
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
    &-inv {
      &__grid {
        grid-template-columns: 100%;
      }
    }
    &-main {
      display: flex;
      flex-direction: column;
      grid-gap: 1rem;

      max-width: 600px;
      margin: 0 auto 50px auto;
    }
    &-block {
      border: 2px dashed rgba(var(--cl-w), .1);
      min-height: 240px;

      &::before {
        width: 60px;
        height: 60px;
      }
      &__arrow {
        top: 1rem;

        width: 60px;
        height: 30px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      transition: 200ms ease;

      &:active {
        filter: brightness(90%);
      }
    }
    &-total {
      transform: translateX(0);
      position: initial;
    }
    &-center {
      min-height: 240px;
      transform: scale(1);
      border: 2px dashed rgba(var(--cl-w), .15);

      &__circle {
        &-header {
          font-size: 1.5rem;
        }
        &-sub {
          font-size: var(--t-sm);
        }
      }

      @include dfc;
      grid-gap: 1.25rem;

      &__circle {
        top: 0;
      }

      &::before {
        display: none;
      }
    }
  }
}

@include small-tablet {
  .upgrade {
    &-filter {
      &__field {
        flex-direction: column;
        grid-gap: 2rem;

        padding: 1rem;
      }
      &__input {
        padding: 0;
      }
    }
    &-range {
      min-width: auto;
      width: 100%;
    }
    &-actions {
      &__header {
        margin-bottom: 1rem;
      }
      &__flex {
        flex-direction: column;
      }
    }
    &-button {
      width: 100%;
    }
    &-multipliers {
      width: 100%;
    }
  }
}

@include mobile {
  .upgrade {
    &-filter {
      padding: 1rem;
    }
  }
}
